name: 'test'
on:
  push:
    branches:
      - '*'
    paths:
      - '.github/workflows/main.yaml'
      - '.github/RELEASE_DRAFT*'
      - 'package.json'
      - 'src/**'
      - 'tests/*'
      - 'tsconfig.build.json'
      - 'tsconfig.json'
  pull_request:
    paths:
      - '.github/workflows/main.yaml'
      - '.github/RELEASE_DRAFT*'
      - 'package.json'
      - 'src/**'
      - 'tests/*'
      - 'tsconfig.build.json'
      - 'tsconfig.json'
  workflow_dispatch:
jobs:
  unit_test:
    name: unit test
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v2
      - name: Checkout git repository
        uses: actions/checkout@v2.3.4
      - name: Install npm dependencies
        run: npm i
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test
  integration_test:
    if: github.ref == 'refs/heads/main'
    name: integration test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v2.3.4
      - name: Create Release
        uses: darioblanco/release-wizard@main
        with:
          templatePath: RELEASE_DRAFT/default.md
          token: ${{ github.token }}
